body {
  background-color: rgb(65, 67, 67);
}

header,
main,
footer {
  background-color: rgb(52, 113, 151);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem;
}
.box {
  text-align: center;
  background-color: azure;
  width: 200px;
  height: 200px;
}
p {
  text-align: center;
}
footer {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
